.restaurants_container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 2rem; */
}
.restaurants{
    background: var(--other-color);
    width: 15rem;
    height: 8rem;
}