@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');


*{
padding: 0;
margin: 0;
border: 0;
outline: 0;
text-decoration: 0;
list-style: none;
box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

:root{
  /* --bg-color: rgb(15, 15, 17); */
  --bg-color: white;
  --bg-second-color: rgb(87, 87, 112);
  --text-color: black;
  --greyText-color: rgb(112, 112, 112);
  --compBg-color: rgb(54, 52, 52);
  --other-color: rgb(167, 230, 219);
  --alt-color: rgb(217, 252, 245);
  --large-container: 90%;
  --medium-container: 80%;
  --small-container: 70%;

}

body {
  /* background-color: linear-gradient(to top right, red, green); */  
  /* background: black; */
}

[data-theme='dark']{
   --bg-color:black; 
   --bg-second-color: rgb(87, 87, 112);
   --text-color: white;
   --greyText-color: rgb(112, 112, 112);
   --compBg-color: rgb(54, 52, 52);
   --other-color: rgb(167, 230, 219);
}

.app{
  background: var(--bg-color);
  height: 100vh;
  padding-top: 1rem;
}

.theme_toggle i{
  font-size: 1.5rem;
  color: red;
}

.container{
  width: var(--large-container);
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container{
    width: var(--medium-container);
  }
}

@media screen and (max-width: 600px) {
  .container{
    width: var(--small-container);
  }
}