.signin_container{
    color:white ;
    padding: 10rem 10rem 20rem 10rem;
    background: var(--greyText-color);
}

/* .signin_inner_container{
    background: red;
} */

.signin_text p{
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    color: var(--compBg-color);
    font-weight: 600;
}

.recover_password{
    color: var(--bg-color);
    text-align: center;
    font-size: 0.8em;
    margin-top: 0.2rem;
}

.log_in{
    margin-top: 0.2rem;
    color: var(--alt-color);
}

.create_account{
    margin-top: 1rem;
    text-align: center;
}

.signup_link{
    color: var(--alt-color);
}