.home_container{
    font-family: Arial, Helvetica, sans-serif;
}

.body{
    font-size: 2.5rem;
    color: var(--text-color);
    text-align: center;
    margin-top: 5rem;
}

.welcome{
    color: var(--greyText-color);
}

.request{
   font-size: 2rem; 
}

.orders{
    text-align: center;
    margin-top: 2rem;
    width: 95%;
}

.link{
    font-family: 600;
    /* color: rgb(29, 29, 43); */
    color: var(--color-bg);
    background: var(--alt-color);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.3rem;
}


.link:hover{
    background: var(--bg-color);
    border: 1px var(--other-color) solid;
    color: var(--text-color);
    transition: 0.5s ease;
}

.how{
    margin-top: 10rem;
    color: var(--compBg-color);
    background: var(--alt-color);
    padding: 5rem;
}

.how h4{
    margin-bottom: 3.5rem;
    font-size: 2em;
    text-align: center;
}

.how_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.how_container i{
    color: var(--greyText-color);
    font-size: 3.5rem;
    align-self: flex-end;
}

.how_container h5{
    font-size: 1.8em;
}

.how_container small{
    font-size: 0.8em;
}


