.home_container{
    font-family: Arial, Helvetica, sans-serif;
}

.body{
    font-size: 2.5rem;
    color: var(--text-color);
    text-align: center;
    margin-top: 5rem;
}

.welcome{
    color: var(--greyText-color);
}

.request{
   font-size: 2rem; 
}

.how{
    margin-top: 10rem;
    color: var(--compBg-color);
    background: var(--alt-color);
}

.how h4{
    margin-bottom: 3.5rem;
    font-size: 0.8em;
    text-align: center;
}

.how_container{
    display: flex;
    justify-content: space-between;
}

.how_container i{
    color: var(--greyText-color);
}

.location i{
    color: red;
}

.location h5{
    font-size: 0.8em;
}

.home_container small{
    font-size: 0.3em;
}
