.nav_inner_container{
    color: white;
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    align-items: center;
    /* margin-top: 1rem; */
    padding-bottom: 1rem;
}

.o{
    font-size: 1.5em;
    /* color: var(--bg-second-color); */
}

.logo{
    color: var(--greyText-color);
}

.navItems{
  font-size: 0.9em;  
}

.link{
    /* color: var(--bg-second-color); */
    font-family: 600;
    color: rgb(29, 29, 43);
    background: var(--alt-color);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.3rem;
    margin-left: 5rem;
}

.link:hover{
    background: var(--bg-color);
    border: 1px var(--other-color) solid;
    color: var(--text-color);
}

.sign_up{
    /* color: var(--bg-second-color); */
    color: rgb(29, 29, 43);
    font-size: 1.2rem;
    background-color: var(--alt-color);
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    border-radius: 0.6rem;
}

