.nav_inner_container{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.o{
    font-size: 1.5em;
    /* color: var(--bg-second-color); */
}

.logo{
    color: white;
}

.navItems{
  font-size: 0.9em;  
}

.link{
    color: var(--other-color);
    margin-left: 5rem;
}

.sign_up{
    /* color: var(--bg-second-color); */
    color: var(--greyText-color);
    font-size: 1.2rem;
}

